@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    font-size: 16px;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Montserrat', sans-serif;
    --text-primary: #f4f1de;
    --text-secondary: rgb(179, 179, 179);
    --bg-primary: #3d405b;
    --bg-secondary: #272E4F;
    --accent-color: #3d405b;
    --navbar-size: 4rem;
    }


body {
    color: var(--text-primary);
    /* background-color: var(--bg-primary); */
    background: linear-gradient(126deg, rgba(224,122,95,1) 0%, rgba(242,204,143,1) 100%);
    height: 100%;
}

main{
    width: 70%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}



#search{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

#submitButton{
    padding: 0;
    margin: 0;
    background: none;
    fill: none;
    border: none;
    color: var(--text-primary);
    border: solid 2px var(--accent-color);
    font-family: 'IBM Plex Mono', monospace;
    width: 10rem;
    height: 2em;
    font-size: 2rem;
}

#textField:focus{
    outline: none;
    border: none;
    border-bottom: solid 2px var(--accent-color);
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}



#textField{
    padding: 0;
    margin: 0;
    background: none;
    fill: none;
    border: none;
    color: var(--text-primary);
    border-bottom: solid 2px var(--accent-color);
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2em;
    height: 1.9em;
    text-align: center;
    width: 60%;
}

#textField:focus{
    border: solid 2px var(--accent-color);
}

.info {
    margin-top: 3em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

@media only screen and (max-width: 600px) {
    .info{
        flex-direction: column;
    }
    .title{
        flex-direction: 3rem;
    }
    #submitButton {
        margin-top: 0.5em;
    }
}

@media only screen and (min-width: 600px) {
    .info{
        flex-direction: row;
    }
    .title {
        font-size: 5rem;
    }
}
